@font-face {
    font-family: "Happiness-Sans-Title";
    src: url("../../public/assets/font/screen/webfont/Happiness-Sans-Bold.woff")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
